        /* Font google cho dep mat */
        @font-face {
            font-family: 'Nunito', sans-serif;
            src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
        }
        html{
            font-family: Nunito;
        }
        /* Banner OnlineShopNow */
        #banner{
            width: 100%;
            font-size: 50px;
            font-weight: 900;
            text-align: center;
            background-color: darkgreen;
            color: white;
            display: inline-block;
            vertical-align: middle;
        }
        /* Incon gio hang nam inline voi Banner */
        #icon{
            mix-blend-mode: multiply;
            display: inline-block;
            vertical-align: middle;
        }
        /* Can chinh chieu dai tung menu */
        #navigationBar th{
            width: 19%;
        }
        /* Can chinh mau sac o menu va border */
        #navigationBar{
            text-align: center; 
            font-size: 1rem;
            color: darkgreen; 
            width: 100%;
            border: .5mm green solid;
            border-bottom: 1mm green solid;
        }
        /* Hieu ung hover cho cac lien ket */
        a{
            display: block;
            text-decoration: none; 
            color: darkgreen;
            transition-duration: 800ms;
        }
        a:hover{
            
            transition-duration: 800ms;
            background-color: darkgreen;
            color: white;
            transform: perspective(50%);
        }
        /* Can chinh table thanh khoi inline */
        #formTable {
            border: .5px rgb(9, 179, 65) solid;
            display: inline-table;
            width: 65%;
            margin: 1cm 17%; 
            /* width: 65 + margin left+ margin right = 99% --> con lai 5% */
        }
        /* Can chinh mau sac cho th thuoc formTable */
        #formTable th {
            background-color: darkgreen;
            color: white;
        }
        /* Tao ra de khi co su co format */
        td{
            border: none;
        }
        /* Can chinh chieu dai (% so voi o chua no ) va mau sac input */
        #fullName, #address , #email, #phoneNumber, #city {
            width: 98%;
            border: .5px rgb(241, 110, 70) solid;
        }
        /* Can chinh chieu dai textArea (% so voi o chua no) */
        textarea{
            width: 98%;
        }
        /* Can chinh nut submit va reset o giua */
        #submit, #reset{
            background-color: rgb(235, 235, 232);
            display: inline;
            position: relative;
            left: 43%;
            border-radius: 10px;
            border: 3px darkgreen double;
        }
        /* Can chinh canh bao do tuoi newAge */
        #alertAge{
            font-style: italic;
            font-size: smaller;
            color: rgb(201, 67, 67);
        }